* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid {
    width: 900px;
    height: 900px;
    margin: 0 auto;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: black;
    padding: 20px 10px;
    display: flex;
    justify-content: flex-end;
}

main {
    width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main h2 {
    margin: 30px 0;
    text-align: center;

}

.btn {
    padding: 10px 30px;
    border-radius: 0px;
}

.btn-white {
    background-color: white;
    color: black;
    font-size: 24px;
    font-weight: 600;
    border: none;
    transition: background-color 0.5s;
}

.btn-white:hover {
    background-color: rgb(124, 119, 119);
}

.square {
    width: calc(100% / 10);
    height: calc(100% / 10);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    border: 1px solid white;
    background-color: black;
}

.clicked {
    background-color: red;
}